<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Ricoom Products Api</title>
</head>
<body>
   <header>
    <nav>
        <div class="logo">
            <h1>logo</h1>
        </div>
        <ul>
            <li><a href="http://">contact</a></li>
            <li><a href="http://">About</a></li>

        </ul>
    </nav>
    <div class="intro">
        <H1>W</H1>
        <H1>E</H1>
        <H1>L</H1>
        <H1>C</H1>
        <H1>O</H1>
        <H1>M</H1>
        <H1>E</H1>


    </div>
   </header>
</body>
</html>